
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

 /* BUTTONS */

 #link3{
        
    background-color: rgba(108, 185, 248, 0.568);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    
    text-decoration: none;
  
 
    
}

#link3:hover{

    background-color: rgba(59, 167, 255, 0.568);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
   
}

body{
    background-color: rgb(202, 202, 202);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}
    /* Set the apperance of the class, chart */
    
    h1 {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
        padding-top: 40px;
    }
    
    a{
        border: 5px;
        border-color: black;
        border-style: solid;
    
        margin:20px
    }
    
   
.myWeek1{
    margin: auto;
    max-width: 100%;
    background-color: rgb(182, 211, 255);
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(61, 61, 61);
    width: 1000px
}

.chart{
   
    border-color: rgb(0, 0, 0);
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%;
    max-width: 100%;
    text-align: center;
    margin-left: 30%;
    margin-right: 10%;
    width: auto;
    height: flex;
    justify-content: center;
    
}

/* Appearances for particular charts */




#Chart3, #Chart4 {
    border-color: rgb(0, 0, 0);
    border-radius: 5px;
    border-width: 3px;
    background-color: rgb(255, 255, 255);
    width:420px;
    height:382px; 
    margin-left: 30%;
    margin-right: 10%;
    text-align:center;
    display: inline-block;
    max-width: 100%;
    
}
    
    
#Chart5, #Chart6 {
     border-color: rgb(0, 0, 0);
     background-color: rgb(255, 255, 255);
     border-radius: 5px;
     border-width: 3px;
     width:400px;
        height:400px; 
        text-align:center;
        display: inline-block;
        align-items:center
}

#Chart7{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:400px;
       height:475px; 
       align-items:center;
       max-width: 100%;
       text-align:center;
       display: inline-block;
       align-items:center
}

.dashboard_charts{
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%; 
    max-width: 100%;
    align-items:center



    
}

.grid_charts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


#Chart8, #Chart9, #Chart10{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:275px;
       height:300px; 
       align-items:center;
       display: inline-block

    
}

#Chart11, #Chart12, #Chart13{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:275px;
       height:300px; 
       display: inline-block
       
    
}

#Chart14, #Chart15{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:275px;
       height:300px; 
       display: inline-block;
       align-items:center
    
}
#Chart16{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:310px;
       height:300px; 
       display: inline-block;
       align-items:center;
}

#Chart17{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:425px;
       height:500px; 
       margin-left: 30%;
       margin-right: 10%;
       text-align:center;
       display: inline-block;
       align-items:center
    
}
#Chart18{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:600px;
       height:500px; 
       margin-left: 20%;
       margin-right: 10%;
       text-align:center;
       display: inline-block;
       align-items:center
       
    
}

#Chart19{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:375px;
       height: 400px; 
       margin-left: 30%;
       margin-right: 10%;
       text-align:center;
       display: inline-block;
       align-items:center
       
    
}

#Chart20{
    border-color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 3px;
    width:375px;
       height:400px; 
       margin-left: 30%;
       margin-right: 10%;
       text-align:center;
       display: inline-block;
       align-items:center
       
    
}

