

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

/* FONTS: */

h1{
    font-family: 'Merriweather', sans-serif;
    background-color:rgb(144, 188, 255);
    text-align: center;
}
h2{
  font-family: 'Merriweather', sans-serif;
  text-align: center;
}
p{
    font-family: 'Merriweather', sans-serif;
    font-size: larger;
    font-variant: small-caps;
    color:rgba(0, 0, 0, 0.788);
    background-color:  rgb(144, 188, 255);
    text-align: center;





}

/* AREAS OF THE PAGE */

body{
    background-color: rgb(144, 188, 255);
 }

.wrap{
    background-color:  rgb(144, 188, 255);
    text-align: center;
 }



/* BUTTONS */

a{
    border: 5px;
    border-color: black;
    border-style: solid;

    margin:20px
}





#link3{
    
    background-color: rgba(108, 185, 248, 0.568);
    border:2px;
    border-color:rgb(218, 212, 212);
    border-style: solid;
    border-radius: 3px;
    font-family: 'Merriweather', sans-serif;
    font-weight:700;
    color:rgb(255, 255, 255);
    
    text-decoration: none;
  
 ;
    
}

#link3:hover{

    background-color: rgba(59, 167, 255, 0.568);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
   
}





  

