
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');


/* Set the background color for my page: */

/* Book on colour = Joseph Albers - Interaction of Colour */

 /* BUTTONS */



 #link3{
        
    background-color: rgba(108, 185, 248, 0.568);

    padding:20px;
    
    border:2px;
    border-color:grey;
    border-style: solid;
    border-radius: 10px;

    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    color:white;
    
    
    text-decoration: none;
  
 
    
}

#link3:hover{

    background-color: rgba(59, 167, 255, 0.568);

    border:2px;
    border-color:rgb(0, 0, 0);
    border-style: solid;
   
}

body{
    background-color: rgb(202, 202, 202);
 }


/* Choose the appearance of the tags, h1, h3 and p: */
h1, h3, p{
    color:rgb(0, 0, 0);
    font-family: 'Merriweather', sans-serif;
    text-align: center;
}
    /* Set the apperance of the class, chart */
    
    h1 {
        color: black;
        font-family: 'Roboto', sans-serif;
        font-size: 50px;
        text-align: center;
        padding-top: 40px;
    }
    
    a{
        border: 5px;
        border-color: black;
        border-style: solid;
    
        margin:20px
    }
    
   
.myWeek1{
    margin: auto;
    max-width: 100%;
    background-color: rgb(182, 211, 255);
    border-width: 7px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(61, 61, 61);
    width: 1000px
}

.chart {
    background-color: #fff;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: #646464;
    display: block;
    margin-left: 120px;
    margin-right: 120px;
    width: 50%;
    transition: transform .2s;
    z-index: 1
}

/* Appearances for particular charts */







.dashboard_charts{
    border-radius: 5px; 
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    margin: auto;
    margin-bottom: 2.5%; 
    max-width: 100%;
    align-items:center



    
}

.grid_charts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}



    

@media screen and (max-width:600px) {
    .chart {
        width: 100%;
        margin-left: 0
    }

    .chart{
        transform: none
    }
}
